데이터프레임과 시리즈는 리스트나 딕셔너리와 비슷하지만 데이터를 다루는데 더 특화되어 있습니다. 리스트와 딕셔너리는 많은 양의 데이터를 저장하거나 데이터를 조작할 수 있는 메서드가 많지 않습니다. 반면에 판다스의 데이터프레임과 시리즈는 많은 양의 데이터를 저장할 수 있을뿐만 아니라 스프레드시트 프로그램을 사용하는 것을 행과 열 단위로 원하는 데이터를 조작할 수 있는 다양한 속성과 베서드를 제공합니다. 그러면 데이터프레임과 시리즈에 대해 좀 자세히 알아보자

# 3.1 나만의 데이터 만들기

In [ ]:
# 1. 시리즈 만들기

In [ ]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [ ]:
# 2. 인덱스 변화시키기

In [ ]:
s = pd.Series(['Wes Mckinney','Creator of pandas'])
print(s)

0         Wes Mckinney
1    Creator of pandas
dtype: object

In [ ]:
s = pd.Series(['Wes Mckinney','Creator of pandas'], index=['person','who'])

In [ ]:
print(s)

person         Wes Mckinney
who       Creator of pandas
dtype: object

In [ ]:
# 3. 데이터프레임 만들기

In [ ]:
scientists = pd.DataFrame({
    'Name':['Rosaline Franklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-25','1876-06013'],
    'Died':[u'1958-04-16','1937-10-16'],
    'Age':[37,61]
})

In [ ]:
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06013  1937-10-16   61

In [ ]:
# 4. 데이터프레임에서 index, columns 설정하기

In [ ]:
scientists = pd.DataFrame(
    data = {'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-25','1876-06013'],
    'Age':[37,61]},
    index=['Rosaline Franklin','William Gosset'],
    columns=['Occupation','Born','Age','Died']
)

In [ ]:
print(scientists)

                     Occupation        Born  Age Died
Rosaline Franklin       Chemist  1920-07-25   37  NaN
William Gosset     Statistician  1876-06013   61  NaN

# 3.2 시리즈 다루기- 기초

In [ ]:
# 1. 데이터 준비

In [ ]:
scientists = pd.DataFrame(
    data = {'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-25','1876-06013'],
    'Died':['1958-04-16','1937-10-16'],
    'Age':[37,61]},
    index=['Rosaline Franklin','William Gosset'],
    columns=['Occupation','Born','Age','Died']
)

In [ ]:
# 2 - 시리즈 선택하기

In [ ]:
first_row = scientists.loc['William Gosset']

In [ ]:
print(type(first_row))

<class 'pandas.core.series.Series'>

In [ ]:
print(first_row)

Occupation    Statistician
Born            1876-06013
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

In [ ]:
# - 인덱스 속성 사용하기
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [ ]:
# - value 
print(first_row.values)

['Statistician' '1876-06013' 61 '1937-10-16']

In [ ]:
# - key
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [ ]:
print(first_row.keys()[0])

Occupation

## 시리즈의 기초통계 매서드 사용하기

In [ ]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [ ]:
print(ages.mean())

49.0

In [ ]:
print(ages.min())

37

In [ ]:
print(ages.max())

61

In [ ]:
print(ages.std())

16.97056274847714

# 3.3 시리즈 다루기 - 응용

## 시리즈와 불린 추출

In [42]:
scientists = pd.read_csv('/content/drive/MyDrive/do it pandas data/scientists.csv')

In [43]:
print(scientists.head())

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [44]:
ages=scientists['Age']
print(ages.max())
print(ages.mean())
print(ages.min())

90
59.125
37

In [45]:
# 불린 추출
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [46]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

## 시리즈와 브로드캐스팅

In [47]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [48]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [49]:
print(ages*100)

0    3700
1    6100
2    9000
3    6600
4    5600
5    4500
6    4100
7    7700
Name: Age, dtype: int64

In [50]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [51]:
print(ages+pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [52]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [53]:
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 3.4 데이터프레임 다루기

In [54]:
# - 불린 추출하기

In [56]:
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

# 3.5 시리즈와 데이터프레임의 데이터 처리하기

In [60]:
# 1, 열의 자료형 바꾸기와 새로운 열 추가하기
print(scientists['Born'].dtype)

object

In [61]:
print(scientists['Died'].dtype)

object

In [62]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')

In [63]:
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [64]:
died_datetime=pd.to_datetime(scientists['Died'], format='%Y-%m-%d')

In [65]:
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [68]:
scientists['born_dt'],scientists['died_dt'] = (born_datetime, died_datetime) # 새로운 행 추가하기
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [70]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt age_days_dt
0 1958-04-16  13779 days
1 1937-10-16  22404 days
2 1910-08-13  32964 days
3 1934-07-04  24345 days
4 1964-04-14  20777 days

In [71]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [72]:
import random
random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

/usr/lib/python3.7/random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [73]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [75]:
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped)

                   Name        Born        Died          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16             Chemist
1        William Gosset  1876-06-13  1937-10-16        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13               Nurse
3           Marie Curie  1867-11-07  1934-07-04             Chemist
4         Rachel Carson  1907-05-27  1964-04-14           Biologist
5             John Snow  1813-03-15  1858-06-16           Physician
6           Alan Turing  1912-06-23  1954-06-07  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 3.6 데이터 저장하고 불러오기

In [76]:
# - 피클로 저장하기
names = scientists['Name']

In [78]:
names.to_pickle('/content/drive/MyDrive/pandas/scientists_name_series.pickle')

In [79]:
scientists_name_from_pickle = pd.read_pickle('/content/drive/MyDrive/pandas/scientists_name_series.pickle')

In [80]:
print(scientists_name_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object